<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>仓耳舒圆体1.ttf</string>
		<string>仓耳舒圆体2.ttf</string>
		<string>仓耳与墨2.ttf</string>
		<string>仓耳与墨3.ttf</string>
		<string>仓耳与墨4.ttf</string>
		<string>鸿雷板书简体.ttf</string>
		<string>黄令东齐伋体Fallback.ttf</string>
		<string>江城正义体3.ttf</string>
		<string>江城正义体4.ttf</string>
		<string>江城正义体6.ttf</string>
		<string>江西拙楷2.0.ttf</string>
		<string>庞门正道粗书体.ttf</string>
		<string>摄图摩登小方体.ttf</string>
		<string>演示秋鸿楷.ttf</string>
		<string>优设标题黑.ttf</string>
		<string>优设标题圆.otf</string>
		<string>站酷文艺体.ttf</string>
		<string>Silver.ttf</string>
		<string>SourceHanSansCN-Light.otf</string>
		<string>SourceHanSansCN-Medium.otf</string>
		<string>SourceHanSansCN-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
